{% extends '../base.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block meta %}
<!-- TODO: meta tags for password reset page -->
{% endblock %}

{% block title %}
Сброс пароля
{% endblock %}

{% block content %}
<main class="w-3/4 flex justify-center">
  <div class="w-full h-[fit-content] bg-white rounded-2xl shadow-md p-8">
    <h1 class="text-2xl font-semibold text-gray-800 text-center mb-3">
      {% trans "Сброс пароля" %}
    </h1>

    {% if form.errors %}
    <div class="text-red-700 text-sm p-2 bg-gray-100 rounded-lg mb-4" style="color: red; opacity: 80%;">
        <ul class="list-disc list-inside space-y-1">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <li>{{ error|escape }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if messages %}
    <div class="text-green-700 text-sm p-2 bg-gray-100 rounded-lg mb-4" style="opacity: 80%;">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}

    <form method="POST" action="{% url 'account_reset_password' %}" class="space-y-5">
      {% csrf_token %}

      <div>
        <label for="id_email" class="block text-sm text-gray-700 mb-1">
          {% trans "Email" %}
        </label>
        <input type="email" name="email" id="id_email"
               class="w-full border border-gray-300 rounded-lg px-2 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
               required>
      </div>

      <div class="flex items-center gap-4 mt-4">
        <button type="submit"
              class="i-button cursor-pointer text-center">
          {% trans "Отправить ссылку для сброса" %}
        </button>
        <p class="text-center text-sm text-gray-600">
            {% trans "Вспомнили пароль?" %}
            <a href="{% url 'account_login' %}" class="text-blue-600 hover:underline font-medium">
                {% trans "Войти" %}
            </a>
        </p>
      </div>
    </form>
  </div>
</main>
{% endblock %}
